"" Source your .vimrc
"source ~/.vimrc

" variables
let mapleader = "," 

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set clipboard+=unnamedplus " Allow ideavim to copy/paste from/to the clipboard
set incsearch " Do incremental searching.
set history=2000 " Set the number of commands to remember.


" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)

map <C-R> <Action>(Rename)

" Plugins
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin